body {
  margin: 0; /*Set all sides to 0*/
  text-align: center; /*This will center elements without a width*/
  font-family: 'Merriweather', serif;
  font-size: 200%;
  color: #40514E;
}

h1 {
  font-size: 5.625rem; /*dynamic font for zoom-in and out user percentage or em. 5.625% = 90px or 1em = 16px = 100%*/
  /*rem - despite what the parent tag font-size it won't be affected. Good practice for % and em being declared as parent.*/
  margin: 50px auto 0 auto; /*margin: clockwise auto center top-right-bottom-left*/
  /*margin: 0 Set all sides to 0*/
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: #11999E;
}

p {
  font-size: 1.2rem;
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 3%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

/*****CLASS SELECTORS*******/
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-top: 150px;
}

.bottom-container {
  background-color: #66BFBF;
  position: relative;
  padding: 30px 0 20px;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.copyright {
  color: #EAF6F6;
  font-family: serif;
  font-size: 0.75rem;
  margin: 0;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.intro{
  width: 30%;
  margin: auto;
}

.skills{
  margin-top: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-img-row1 {
  width: 25%;
  float: left; /*Use float when wrapping text on a certain element don't use it for positioning */
  /*clear: left; anti float */
  margin-right: 30px;
}

.skill-img-row2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}

.contact-me {
  padding-bottom: 100px;
}

/*BUTTON*/
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
